--
-- PostgreSQL database dump
--

\restrict YNrCAN36CpIKYBstwUDBMDWbSGwoYuzFyRFvMS2TyXsu8M4wcHkkivCPFboVgEy

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.projects (id, title, description, image, github_url, demo_url, technologies, featured, created_at, updated_at) FROM stdin;
1	Portfolio Website	Personal portfolio website built with React, Node.js and PostgreSQL	/uploads/portfolio.png	https://github.com/example	https://example.com	React, Node.js, PostgreSQL	t	2026-08-07 08:33:09.816367	2026-08-07 08:33:09.816367
2	Portfolio Website	My full stack developer portfolio	/uploads/portfolio.png	https://github.com/myproject	https://myportfolio.com	React, Node.js, PostgreSQL	t	2026-08-07 08:42:57.552039	2026-08-07 08:42:57.552039
\.


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.projects_id_seq', 2, true);


--
-- PostgreSQL database dump complete
--

\unrestrict YNrCAN36CpIKYBstwUDBMDWbSGwoYuzFyRFvMS2TyXsu8M4wcHkkivCPFboVgEy

