--
-- PostgreSQL database dump
--

\restrict kvv1kf8BcLQRDgQ8URup6RRuYn2TlLhS8dAUx02GUFP9PkY1SuZatqKPTLdlug3

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.skills (id, name, category, level, icon, created_at, updated_at) FROM stdin;
1	JavaScript	Frontend	90	\N	2026-08-03 22:46:54.782509	2026-08-07 08:47:03.47695
2	Node.js	Backend	85	\N	2026-08-03 22:46:54.782509	2026-08-07 08:47:03.47695
3	PostgreSQL	Database	80	\N	2026-08-03 22:46:54.782509	2026-08-07 08:47:03.47695
\.


--
-- Name: skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.skills_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict kvv1kf8BcLQRDgQ8URup6RRuYn2TlLhS8dAUx02GUFP9PkY1SuZatqKPTLdlug3

